<div class="timeline-block">
	<div class="timeline-img"></div>

	<div class="timeline-content">
		<h2>Linux <i class="fa fa-flag intermediate"></i></h2>
		<ul class="content-skills">
			<li>
				Comandos Generales
				<ul>
					<li>Servicios de Red</li>
					<li>
						<ul>
							<li>IPTables</li>
							<li>Proxy de Red</li>
							<li>
								DNS
								<ul>
									<li>Arquitectura</li>
									<li>Cache</li>
									<li>DNSSEC</li>
									<li>Envenamiento DNS</li>
									<li>Amplificación DNS</li>
								</ul>
							</li>
							<li>NTP</li>
							<li>DHCP</li>
							<li>HTTP</li>
							<li>SSH/SFTP</li>
							<li>
								VPN
								<ul>
									<li>IPSEC</li>
									<li>L2TP</li>
									<li>GRE</li>
								</ul>
							</li>
							<li>
								SMTP
								<ul>
									<li>DMARC</li>
									<li>SPF</li>
									<li>Open Relay</li>
									<li>Enumeración de Usuarios</li>
								</ul>
							</li>
							<li>LDAP</li>
						</ul>
					</li>
					<li>Bash Scripting</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
