<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<h2>Enrutamiento <i class="fa fa-flag advanced"></i></h2>
		<ul class="content-skills">
			<li>Protocolos TCP & UDP</li>
			<li>IPv6</li>
			<li>Estático</li>
			<li>
				Dinámico
				<ul>
					<li>OSPF</li>
					<li>BGP</li>
				</ul>
			</li>
			<li>Enrutamiento Basado en Política</li>
			<li>Enrutamiento inter-vlan</li>
			<li>Distancia & Prioridades</li>
			<li>NAT/SNAT</li>

			<li>
				Control de Acceso a la Red
				<ul>
					<li>Lista de Accesos</li>
					<li>Mapa de Rutas</li>
					<li>Lista de Prefijos</li>
				</ul>
			</li>
			<li>MPLS</li>
			<li>QoS</li>
		</ul>
	</div>
</div>
