<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<h2>Conmutadores <i class="fa fa-flag advanced"></i></h2>

		<!-- <div class="timeline-content-info">
			<span class="timeline-content-info-sponsor1">
				<a href="#" target="_blank">Sponsor</a>
			</span>
			<span class="timeline-content-info-sponsor2">
				<a href="#" target="_blank">Sponsor</a>
			</span>
		</div> -->

		<!-- <p>Text Sample</p> -->
		<ul class="content-skills">
			<li>Subnet de Redes</li>
			<li>
				Vlans
				<ul>
					<li>
						<a
							href="https://ccnadesdecero.es/diseno-jerarquico-de-redes/"
							target="_blank"
						>
							Diseño Jerárgico
						</a>
					</li>
				</ul>
			</li>
			<li>Trunking (802.1q)</li>
			<li>LACP</li>
			<li>
				<a href="http://redhes.blogspot.com/p/port-security.html" target="_blank">
					Port Security
				</a>
			</li>
			<li>
				Spoofing
				<ul>
					<li>ARP Spoofing</li>
					<li>MAC Spoofing</li>
					<li>IP Spoofing</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
