<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<h2>Windows <i class="fa fa-flag basic"></i></h2>
		<ul class="content-skills">
			<li>
				Windows
				<ul>
					<li>
						Servicios de Red
						<ul>
							<li>
								SMB
								<ul>
									<li>Aseguramiento SBM</li>
									<li>Seguridad NTML</li>
								</ul>
							</li>
							<li>DNS</li>
							<li>FTP</li>
							<li>SMB</li>
							<li>SNMP</li>
							<li>IIS</li>
							<li>Directorio Activo</li>
						</ul>
					</li>
					<li>Powershell</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
