<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<h2>Redes Inalámbricas <i class="fa fa-flag intermediate"></i></h2>
		<!-- <div class="timeline-content-info">
			<span class="timeline-content-info-sponsor1">
				<a href="#" target="_blank">Sponsor</a>
			</span>
			<span class="timeline-content-info-sponsor2">
				<a href="#" target="_blank">Sponsor</a>
			</span>
		</div> -->

		<!-- <p>Text Sample</p> -->
		<ul class="content-skills">
			<li>Estándares WLAN</li>
			<li>Métodos de Autenticación</li>
			<li>Frecuencias y Bandas</li>
			<li>Puntos de Acceso</li>
			<li>Diseño y Análisis de Espectro</li>
			<li>Detección de AP Falsos</li>
			<li>Kismet</li>
		</ul>
	</div>
</div>
