<div class="cards">
	{% case page.path %} {% when 'netsec' %} {% for item in site.data.netsec-certifications
	%}

	<article class="information card">
		<h2 class="title">{{ item.title }}</h2>
		<p class="desc">{{ item.description }}</p>
		<span class="tag">{{ item.price }}</span>
		<span class="button">
			<a href="{{ item.link }}" target="_blank">Ver</a>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="24px"
				viewBox="0 0 24 24"
				width="24px"
				fill="none"
			>
				<path d="M0 0h24v24H0V0z" fill="none" />
				<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
			</svg>
		</span>
	</article>
	{% endfor %} {% endcase %} {% case page.path %} {% when 'segurinfo' %} {% for item in
	site.data.segurinfo-certifications %}
	<article class="information card">
		<h2 class="title">{{ item.title }}</h2>
		<p class="desc">{{ item.description }}</p>
		<span class="tag">{{ item.price }}</span>
		<span class="button">
			<a href="{{ item.link }}" target="_blank">Ver</a>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="24px"
				viewBox="0 0 24 24"
				width="24px"
				fill="none"
			>
				<path d="M0 0h24v24H0V0z" fill="none" />
				<path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
			</svg>
		</span>
	</article>
	{% endfor %} {% endcase %}
</div>
