<div id="contributors" class="contributors-box">
	{% case page.path %} {% when 'netsec' %} {% for item in site.data.netsec-contributors %}
	<div class="tooltip top">
		<a href="{{ item.link }}" target="_blank"><img src="{{ item.picture }}" /></a>
		<span class="tiptext">{{ item.name }}</span>
	</div>
	{% endfor %} {% when 'segurinfo' %} {% for item in site.data.segurinfo-contributors %}
	<div class="tooltip top">
		<a href="{{ item.link }}" target="_blank"><img src="{{ item.picture }}" /></a>
		<span class="tiptext">{{ item.name }}</span>
	</div>
	{% endfor %} {% endcase %}
</div>
