<div class="blocks">
	<div class="role yellow">
		<a href="{{ site.url }}/roles/netsec">
			<h3>Ciberseguridad de Red</h3>
		</a>
	</div>
	<div class="role green">
		<a href="{{ site.url }}/roles/segurinfo">
			<h3>Seguridad de la Información <br />(En Desarrollo)</h3>
		</a>
	</div>
	<div class="role red">
		<a href="{{ site.url }}/roles/pentester">
			<h3>Pentester (Pronto)</h3>
		</a>
	</div>
	<div class="role orange">
		<a href="{{ site.url }}/roles/devsecops">
			<h3>DevSecOps(Pronto)</h3>
		</a>
	</div>
	<div class="role blue">
		<a href="{{ site.url }}/roles/ciso">
			<h3>Oficial de Seguridad de la Información - CISO (Pronto)</h3>
		</a>
	</div>
</div>
