<div class="blocks">
	<div class="role yellow">
		<a href="/roles/netsec">
			<h3>Ingeniero de Ciberseguridad de Red</h3>
		</a>
	</div>
	<div class="role green">
		<a href="/roles/segurinfo">
			<h3>Ingeniero en Seguridad de la Información <br />(En Desarrollo)</h3>
		</a>
	</div>
	<div class="role red">
		<a href="/roles/pentester">
			<h3>Pentester (Pronto)</h3>
		</a>
	</div>
	<div class="role orange">
		<a href="/roles/devsecops">
			<h3>Ingeniero DevSecOps(Pronto)</h3>
		</a>
	</div>
	<div class="role blue">
		<a href="/roles/ciso">
			<h3>Oficial de Seguridad de la Información - CISO (Pronto)</h3>
		</a>
	</div>
</div>
