<nav class="nav">
	<ul class="nav-list">
		<a href="/"
			> <li><i class="fa fa-home"></i> Inicio</li></a>
		<a href="/roles"> <i class="fa fa-list"></i> Roles</li></a>

		<a href="#-ruta"
			> <li><i class="fa fa-map-marker"></i> Ruta</li></a>
		<a href="#-contribuidores"
			> <li><i class="fa fa-users"></i> Contribuidores</li></a>
		<a href="#-ofertas-laborales"> <li><i class="fa fa-briefcase"></i> Ofertas Laborales</li></a>
		<a href="#-certificaciones-relacionadas">
			<li><i class="fa fa-certificate"></i> Certificaciones</li>
		</a>
	</ul>
</nav>
