<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Estándares y Marcos de Trabajo
			<i class="fa fa-flag advanced"></i>
		</h2>
		<ul class="content-skills">
			<li>ISO 27001</li>
			<li>ISO 27002</li>
			<li>NIST CSF</li>
			<li>PCI DSS 4.0</li>
			<li>ISO 27032</li>
			<li>ISO 31000</li>
			<li>ISO 22301</li>
			<li>
				LPDP
				<ul>
					<li>GDPR</li>
				</ul>
			</li>
			<li>Cobit</li>
			<li>Fundamentos SOX</li>
		</ul>
	</div>
</div>
