<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Auditoría de Sistemas
			<i class="fa fa-flag basic"></i>
		</h2>
		<ul class="content-skills">
			<li>
				Proceso de Auditoría
				<ul>
					<li>No Conformidades</li>
					<li>Oportunidades de Mejora</li>
					<li>Observaciones</li>
				</ul>
			</li>
			<li>
				Controles
				<ul>
					<li>Detectivos</li>
					<li>Correctivos</li>
					<li>Preventivos</li>
					<li>Compensatorios</li>
				</ul>
			</li>
			<li>Procesos Críticos</li>
			<li>Revisión de Políticas</li>
		</ul>
	</div>
</div>
