<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Gestión de Riesgos
			<i class="fa fa-flag advanced"></i>
		</h2>
		<ul class="content-skills">
			<li>Inventario de Activos</li>
			<li>Categorización de Activos</li>
			<li>Identificación de riesgos</li>
			<li>
				Análisis/Evaluación de riesgos
				<ul>
					<li>Probabilidad e Impacto</li>
					<li>Expectativa de Perdida</li>
				</ul>
			</li>
			<li>
				Tratamiento y respuesta de riesgos
				<ul>
					<li>Apetito, Tolerancia & Capacidad</li>
					<li>
						<a
							href="https://enredandoproyectos.com/como-responder-a-los-riesgos-de-un-proyecto/#323_Mejorar"
							target="_blank"
						>
							Riesgos Negativos
						</a>
						<ul>
							<li>Evitar</li>
							<li>Mitigar</li>
							<li>Transferir</li>
							<li>Aceptar</li>
							<li>Escalar</li>
						</ul>
					</li>
					<li>
						<a
							href="https://enredandoproyectos.com/como-responder-a-los-riesgos-de-un-proyecto/#323_Mejorar"
							target="_blank"
						>
							Riesgos Positivos
						</a>
						<ul>
							<li>Explorar</li>
							<li>Compartir</li>
							<li>Mejorar</li>
							<li>Aceptar</li>
							<li>Escalar</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Definición de Controles</li>
			<li>Monitoreo del Riesgo</li>
		</ul>
	</div>
</div>
