<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Políticas y Procedimientos
			<i class="fa fa-flag intermediate"></i>
		</h2>
		<ul class="content-skills">
			<li>Técnicas de Documentación</li>
			<li>Esquemas de Organización de Inf.</li>
			<li>Definición de Procesos</li>
			<li>Mapeo de Procesos</li>
			<li>Definición y creación de Políticas</li>
		</ul>
	</div>
</div>
