<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Respuesta a Incidentes
			<i class="fa fa-flag basic"></i>
		</h2>
		<ul class="content-skills">
			<li>Plan de Respuesta</li>
			<li>Equipo de Respuesta</li>
			<li>Proceso de Respuesta</li>
			<li>Plan de comunicación</li>
			<li>Simulacros</li>
			<li>Continuidad de Negocio</li>
			<li>Pan de Recuperación</li>
		</ul>
	</div>
</div>
