<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Sistemas Operativos
			<i class="fa fa-flag basic"></i>
		</h2>
		<ul class="content-skills">
			<li>
				Linux
				<ul>
					<li>Sistema de Archivos</li>
					<li>Permisos de Archivos</li>
					<li>Comandos Básicos</li>
					<li>Scripts en Bash</li>
				</ul>
			</li>

			<li>
				Windows
				<ul>
					<li>Sistema de Archivos</li>
					<li>Directorio Activo</li>
					<li>Políticas de Grupo</li>
					<li>Comandos Básicos</li>
					<li>Powershell</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
