<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Identidad y Accesos
			<i class="fa fa-flag basic"></i>
		</h2>
		<ul class="content-skills">
			<li>Principio Mínimo Privilegio</li>
			<li>
				AAA
				<ul>
					<li>Identificación</li>
					<li>Autenticación</li>
					<li>Autorización</li>
				</ul>
			</li>
			<li>Perfilamiento de Accesos</li>
			<li>
				Métodos de Autenticación
				<ul>
					<li>Autenticación Multifactor</li>
					<li>Tarjetas de Accesos</li>
					<li>Token/Softoken</li>
					<li>Biometría</li>
				</ul>
			</li>
			<li>Gestión de Cuentas Privilegiadas</li>
		</ul>
	</div>
</div>
