<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Aseguramiento de Datos
			<i class="fa fa-flag intermediate"></i>
		</h2>
		<ul class="content-skills">
			<li>Ciclo de Vida de los Datos</li>
			<li>Clasificación de Información</li>
			<li>
				Prevención de Fuga de Información
				<ul>
					<li>Introducción a DLP de Red</li>
					<li>Introducción a DLP de Endpoint</li>
					<li>Introducción a CASB</li>
				</ul>
			</li>
			<li>Privacidad de Datos</li>
			<li>Remanencia de Datos</li>
			<li>Respaldo de Datos</li>
			<li>Modelo de Repositorios</li>
			<li>
				Manipulación de Datos
				<ul>
					<li>Monitoreo</li>
					<li>Registro</li>
					<li>Tratamiento</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
