<div class="timeline-block">
	<div class="timeline-img"></div>
	<div class="timeline-content">
		<!-- <span class="tag">
			<i class="fa fa-circle" aria-hidden="true"></i>
		</span> -->
		<h2>
			Servicios de Red
			<i class="fa fa-flag basic"></i>
		</h2>
		<ul class="content-skills">
			<li>DHCP</li>
			<li>DNS</li>
			<li>NAT</li>
			<li>NTP</li>
			<li>EMAIL</li>
			<li>Web</li>
			<li>QoS</li>
			<li>
				Servicios de Red Seguros
				<ul>
					<li>SSH</li>
					<li>SSL/TLS</li>
					<li>SFTP</li>
					<li>PGP</li>
					<li>SMTPS</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
