<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="title"
			content="Carrera | Ciberseguridad | CISO | Seguridad | Roles | Trabajo "
		/>
		<meta name="description" content="¿Cuáles son líneas de carrera ciberseguridad?" />
		<meta
			name="keywords"
			content="Lineas, roles, seguridad, ciberseguridad, información, pentester, comunidad"
		/>
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="Ciberpath" />
		<meta property="og:site_name" content="Ciberpath" />
		<meta property="og:url" content="github.com/dan-breu/ciberpath" />
		<meta
			property="og:description"
			content="Ciberpath: Rutas de Conocimiento en Ciberseguridad"
		/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.url }}/assets/main.css" />
		<script type="text/javascript">
			(window.heap = window.heap || []),
				(heap.load = function (e, t) {
					(window.heap.appid = e), (window.heap.config = t = t || {});
					var r = document.createElement('script');
					(r.type = 'text/javascript'),
						(r.async = !0),
						(r.src = 'https://cdn.heapanalytics.com/js/heap-' + e + '.js');
					var a = document.getElementsByTagName('script')[0];
					a.parentNode.insertBefore(r, a);
					for (
						var n = function (e) {
								return function () {
									heap.push([e].concat(Array.prototype.slice.call(arguments, 0)));
								};
							},
							p = [
								'addEventProperties',
								'addUserProperties',
								'clearEventProperties',
								'identify',
								'resetIdentity',
								'removeEventProperty',
								'setEventProperties',
								'track',
								'unsetEventProperty',
							],
							o = 0;
						o < p.length;
						o++
					)
						heap[p[o]] = n(p[o]);
				});
			heap.load('1334064194');
		</script>
	</head>
	<body>
		<div class="container">
			<div class="sidebar">
				<div class="sidebar-header">
					<a href=""><h1>Ciberpath</h1></a>
				</div>
				{% include role-nav.html %}
			</div>
			<div class="main">
				<div class="content">{{ content }}</div>
			</div>
		</div>
	</body>
</html>
